@model PagedList.IPagedList<Wirly.web.Models.File>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <script src="/Scripts/site.js"></script>
    <script>
        $(function(){
            $('.delete-doc').click(function () {
                var docId = $(this).attr('data-id');
                if (confirm("Would you like to delete this document?"))
                {
                    wirly.DeleteDoc(docId, function () {
                        $('#doc-viewer').hide();
                        $('#project-info').show();
                    });
                }
            });

            $('.view-doc').click(function (evt) {
                evt.preventDefault();
                var docPath = $(this).attr('href');
                $('iframe').attr('src', docPath);
                $('#doc-viewer').show();
                $('#project-info').hide();
            });
        });
        
    </script>
    <br />
    <div class="row">
        <div class="col-md-3">            
            <a href="#addFileModal" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addFileModal">Add File</a>
            <br />
            <div class="input-group">
                <input type="text" name="fileName" class="form-control" />
                <span id="search" class="input-group-addon glyphicon glyphicon-search delete-doc"></span>
            </div>
            <br />
            <ul id="projectFiles" class="list-group">
                @foreach (var file in Model)
                {
                    <li class="list-group-item" data-item-id="@file.Id">
                        <span class="badge delete-doc" data-id="@file.Id" ng-click="">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>
                        <a href="@file.Path" title="@file.Description" class="view-doc">@file.Name</a>
                    </li>
                }
            </ul>

            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
        <div class="col-md-9">
            <iframe src="" width="500" height="700" style="display:none;"id="doc-viewer"></iframe>
            <div id="project-info">
                <h2>@ViewBag.Name</h2>

                @Html.Raw(ViewBag.Body)
            </div>
   
</div>
    </div>
    <div class="modal fade" id="addFileModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Add File</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="file">Name:</label>
                            <input type="text" name="fileName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="file" name="file" id="file" class="form-control" />
                        </div>
                        <input type="submit" class="btn btn-primary" />
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
