@model PagedList.IPagedList<Wirly.web.Models.Document>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="container-fluid">
    <script src="~/Scripts/uri.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="/Scripts/site.js"></script>
    <script>
        $(function(){
            $('.delete-doc').click(function () {
                var docId = $(this).attr('data-id');
                if (confirm("Would you like to delete this document?"))
                {
                    wirly.DeleteDoc(docId, function () {
                        $('#doc-viewer').hide();
                        $('#project-info').show();
                    });
                }
            });

            $('.view-doc').click(function (evt) {
                evt.preventDefault();
                if ($(this).attr('data-doc-type') == 'pdf') {
                    var docPath = $(this).attr('href');
                    var id = $(this).attr('data-id');
                    $('ul#projectFiles .active').removeClass('active');
                    $('ul#projectFiles[data-id="' + id + '"]').addClass('active');

                    $('#doc-viewer').attr('src', docPath);
                    $('#doc-viewer').show();
                    $('#project-info').hide();
                }
                else {
                    var id = $(this).attr("data-id");
                    var data = JSON.stringify({
                        id: id
                    });

                    var targetUrl = '/project/GetItemHtml/' + id;
                        
                    $.ajax({
                        type: "Get",
                        url: targetUrl,
                        contentType: "application/json charset=utf-8",
                        success: function (msg) {
                            $('#project-info').html(msg);
                            $('#doc-viewer').hide();
                            $('#project-info').show();
                        }
                    });
                }
            });

            $('#selDocType').change(function () {
                var newVal = $(this, 'option').val();
                var uri = new URI();

                if (newVal == 'Html')
                {
                    $('.pdf-doc-type').hide();
                    $('.html-doc-type').show();             
                    $('#btnSubmit').attr("formaction", uri.path() + "/AddHtml");
                }
                else {
                    $('.html-doc-type').hide();
                    $('.pdf-doc-type').show();
                    $('#btnSubmit').attr("formaction", uri.path() + "/AddPdf");
                }
            });
        });
        
    </script>
    <br />
    <div class="row">
        <div class="col-md-3">            
            <a href="#addFileModal" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addFileModal">Add Item</a>
            <br />
            <div class="input-group">
                <input type="text" name="fileName" class="form-control" />
                <span id="search" class="input-group-addon glyphicon glyphicon-search delete-doc"></span>
            </div>
            <br />
            <ul id="projectFiles" class="list-group">
                @foreach (var file in Model)
                {
                    <li class="list-group-item" data-item-id="@file.Id">
                        <span class="badge delete-doc" data-id="@file.Id" ng-click="">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>
                        <a href="@file.Path" title="@file.Description" class="view-doc" data-id="@file.Id" data-doc-type="@file.DocumentType">@file.Name</a>
                    </li>
                }
            </ul>

            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
        <div class="col-md-9">
            <iframe src="" width="600" height="730" style="display:none;"id="doc-viewer"></iframe>
            <div id="project-info">
                <h2>@ViewBag.Name</h2>

                @Html.Raw(ViewBag.Body)
            </div>
   
</div>
    </div>
    <div class="modal fade" id="addFileModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Add Item</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="file">Name:</label>
                            <input type="text" name="docName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="doc-type">Doc Type:</label>
                            <select id="selDocType">
                                <option>Pdf</option>
                                <option>Html</option>
                            </select>               
                        </div>
                        
                        <div class="form-group pdf-doc-type">
                            <input type="file" name="file" id="file" class="form-control" />
                        </div>

                        <div class="form-group html-doc-type" style="display:none;">
                            @Html.TextArea("htmlContent", new {@class="ckeditor", Name="html"})
                        </div>
                        <input type="submit" class="btn btn-primary" id="btnSubmit" formaction="/project/1/AddPdf"/>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
